
#bottomBar {
	-fx-background-color: #ddd;
}

#toolBar {
	-fx-border-color: #333;
	-fx-border-width: 0 1 0 0;
	-fx-border-style: solid;
	-fx-background-color: #eee;
}

#toolBar > Button {
	-fx-padding: 0;
}

.centered {
	-fx-text-align: center;
}

.toolButton {
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
}

.selected {
	-fx-background-color: #444;
}

#lineButton {
	-fx-background-image: url('../../../img/line.png');	
}

#penButton {
	-fx-background-image: url('../../../img/pen.png');
}

#eraserButton {
	-fx-background-image: url('../../../img/eraser.png');
}

#moveButton {
	-fx-background-image: url('../../../img/move.png');
}

#shapeButton {
	-fx-background-image: url('../../../img/shape.png');
}

#dropperButton {
	-fx-background-image: url('../../../img/dropper.png');
}

#textButton {
	-fx-background-image: url('../../../img/text.png');
}